APP_DEBUG=false
APP_DOMAIN=expressjs-demo.localhost
APP_HOST=app
APP_LIVENESS=10000
APP_LOG_LEVEL=error
APP_MAIL=mail@expressjs-demo.localhost
APP_PORT=3000
APP_SESSION_NAME=session
APP_SESSION_SECRET=secret
APP_SESSION_SECURE=false

INSTRUMENTATION_ID=app
INSTRUMENTATION_METRICS_ENDPOINT=/metrics
INSTRUMENTATION_METRICS_HOST=app
INSTRUMENTATION_METRICS_PORT=9464
INSTRUMENTATION_TRACES_ENDPOINT=/v1/traces
INSTRUMENTATION_TRACES_HOST=jaeger
INSTRUMENTATION_TRACES_PORT=4318

MAILER_HOST=mailpit
MAILER_PORT=1025
MAILER_SECURE=false
MAILER_APP_USER=mailer_app_user@expressjs-demo.localhost
MAILER_APP_PASSWORD=mailer_app_password
MAILER_ROOT_USER=mailer_root_user@expressjs-demo.localhost
MAILER_ROOT_PASSWORD=mailer_root_password

MONGO_DATABASE=expressjs-demo
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_URL=mongodb://<user>:<password>@<host>:<port>/<database>?directConnection=true
MONGO_APP_USER=mongo_app_user
MONGO_APP_PASSWORD=mongo_app_password
MONGO_ROOT_USER=mongo_root_user
MONGO_ROOT_PASSWORD=mongo_root_password

POSTGRES_DATABASE=expressjs-demo
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_URL=postgresql://<user>:<password>@<host>:<port>/<database>
POSTGRES_APP_USER=postgres_app_user
POSTGRES_APP_PASSWORD=postgres_app_password
POSTGRES_ROOT_USER=postgres_root_user
POSTGRES_ROOT_PASSWORD=postgres_root_password

REDIS_DATABASE=0
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://<user>:<password>@<host>:<port>/<database>
REDIS_APP_USER=redis_app_user
REDIS_APP_PASSWORD=redis_app_password
REDIS_ROOT_USER=default
REDIS_ROOT_PASSWORD=redis_root_password

SQLITE_URL=./expressjs-demo.db

STORAGE_BUCKET=expressjs-demo
STORAGE_HOST=minio
STORAGE_PORT=9000
STORAGE_SECURE=false
STORAGE_APP_USER=storage_app_user
STORAGE_APP_PASSWORD=storage_app_password
STORAGE_ROOT_USER=storage_root_user
STORAGE_ROOT_PASSWORD=storage_root_password
