upstream ${APP_HOST} {
  least_conn;
  server ${APP_HOST}:${APP_PORT};
}

upstream ${STORAGE_HOST} {
  least_conn;
  server ${STORAGE_HOST}:${STORAGE_PORT};
}

server {
  listen [::]:80;
  listen 80;

  server_name ${APP_DOMAIN} www.${APP_DOMAIN};

  return 301 https://www.${APP_DOMAIN}$request_uri;
}

server {
  listen [::]:443 ssl;
  listen 443 ssl;
  http2 on;

  server_name ${APP_DOMAIN};

  include h5bp/tls/ssl_engine.conf;
  include h5bp/tls/certificate_files.conf;
  include h5bp/tls/policy_balanced.conf;

  return 301 $scheme://www.${APP_DOMAIN}$request_uri;
}

server {
  listen [::]:443 ssl;
  listen 443 ssl;
  http2 on;

  server_name www.${APP_DOMAIN};

  include h5bp/basic.conf;
  include h5bp/errors/custom_errors.conf;
  include h5bp/location/web_performance_filename-based_cache_busting.conf;
  include h5bp/security/content-security-policy.conf;
  include h5bp/security/cross-origin-policy.conf;
  include h5bp/security/permissions-policy.conf;
  include h5bp/security/strict-transport-security.conf;
  include h5bp/tls/ssl_engine.conf;
  include h5bp/tls/certificate_files.conf;
  include h5bp/tls/policy_balanced.conf;
  include h5bp/web_performance/cache-control.conf;

  client_max_body_size 0;
  ignore_invalid_headers off;
  proxy_buffering off;
  proxy_request_buffering off;

  location ~ ^(.+)/$ {
    return 301 $scheme://$host$1$is_args$args;
  }

  location / {
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Request-Id $connection-$connection_requests-$msec;

    proxy_pass http://${APP_HOST};
  }

  location ~ ^/(favicon.ico|icon\.(png|svg)|robots.txt|site.webmanifest|sitemap.txt|styles/.*|uploads/.*)$ {
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Request-Id $connection-$connection_requests-$msec;

    chunked_transfer_encoding off;
    proxy_connect_timeout 300;
    proxy_http_version 1.1;
    proxy_set_header Connection "";

    proxy_pass http://${STORAGE_HOST}/${STORAGE_BUCKET}/$1;
    proxy_intercept_errors on;
    error_page 403 =404 /404.html;
    error_page 404 /404.html;
  }
}
